<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag_contribution.tag %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @tag_contribution.contribution %>
</p>

<%= link_to 'Edit', edit_tag_contribution_path(@tag_contribution) %> |
<%= link_to 'Back', tag_contributions_path %>
