<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @profile.entity %>
</p>

<p>
  <strong>Url:</strong>
  <%= @profile.URL %>
</p>

<p>
  <strong>Student:</strong>
  <%= @profile.student %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @profile.teacher %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
