<p id="notice"><%= notice %></p>

<h1>Students</h1>

<div class="container">
    <table id="data-table" class="table table-striped table-bordered dataTables_wrapper order-column form-inline dt-bootstrap nowrap" width="100%" cellspacing="0" >

  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Investigation group</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= link_to student.username, student %></td>
        <td><%= student.email %></td>
        <%if student.state == "Admitted" then%>
        <td><%= link_to student.investigation_group.name, investigation_group_path(student.investigation_group_id) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
