<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-striped">
  <thead>
    <tr style="background-color: black; color: white;">
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Investigation group</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.username %></td>
        <td><%= student.email %></td>
        <% if student.investigation_group.id != 0 %>
        <td><%= link_to student.investigation_group.name, investigation_group_path(student.investigation_group) %></td>
        <% else %>
        <td><%= "" %></td>
        <% end %>
        <td><%= link_to 'Show', student, :class=>"btn btn-success" %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>
