<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'css/profile' %>
<div class="container">

  <div class="col-md-4 col-md-offset-4">
    <div class="profile-sidebar">
      <!--div class="profile-userpic">
      <img src="https://pbs.twimg.com/profile_images/828436452748951554/0Zi7F0Kc.jpg" class="img-responsive" alt="">
    </div-->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <p> <%= @student.first_name %> <%= @student.last_name %> </p>
      </div>
      <div class="profile-usertitle-job">
        <p>STUDENT</p>
      </div>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Username:</strong>
        <%= @student.username %>
      </div>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Email:</strong>
        <%= @student.email %>
      </div>
      <% if student_signed_in? %>
        <% if current_student.investigation_group_id != 0 %>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Investigation group:</strong>
        <%= link_to @student.investigation_group.name, :controller=>"investigation_groups" , :action=>"show", :id=>@student.investigation_group.id %>
      </div>
      <%end%>
      <%end%>
      <strong style="color: black;">Contributions:</strong>
      <div class="profile-usertitle-job">



        <%@student.contributions.each do |contribution|%>
        <%= link_to contribution.name, :controller => "contributions", :action => "show", :id => contribution.id%>
        <%  if contribution != @student.contributions.last %>,
        <%end
      end %>

    </div>

    <div class="profile-userbuttons">
      <% if student_signed_in? %>
        <% if current_student.id == @student.id %>
        <%= link_to 'Edit', edit_student_path(@student), :class=>"btn btn1" %>
        <% end %>
      <%end%>
      <% if student_signed_in? || teacher_signed_in? %>
        <%= link_to 'Back', students_path, :class=>"btn btn1" %>
      <%end%>
      <% if student_signed_in? %>
        <% if current_student.id == @student.id %>
        <%= link_to('Log out', destroy_student_session_path, :method => :delete, :class=>"btn btn1") %>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
</div>
</div>
