<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'css/profile' %>
<div class="container">
  <div class="col-md-offset-2 col-md-3", style="margin-top: 2%">
    <%= image_tag(@student.image_url.to_s,:class=>"img-circle img-responsive") %>
  </div>
  <div class="col-md-4">
    <div class="profile-sidebar">
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <p> <%= @student.first_name %> <%= @student.last_name %> </p>
        </div>
        <div class="profile-usertitle-job">
          <p>STUDENT</p>
        </div>
        <div class="profile-usertitle-job">
          <strong style="color: black;">Username:</strong>
          <%= @student.username %>
        </div>
        <div class="profile-usertitle-job">
          <strong style="color: black;">Email:</strong>
          <%= @student.email %>
        </div>
        <% if student_signed_in? %>
        <% if current_student.investigation_group_id != 0 %>
        <div class="profile-usertitle-job">
          <strong style="color: black;">Investigation group:</strong>
          <%= link_to @student.investigation_group.name, :controller=>"investigation_groups" , :action=>"show", :id=>@student.investigation_group.id %>
        </div>
        <%end%>
        <%end%>
        <!--strong style="color: black;">Contributions:</strong-->
        <div class="col-md-8 col-md-offset-2">
          <table class=" table table-bordered dataTables_wrapper form-inline dt-bootstrap nowrap  no-footer">
            <thead>
              <tr role="row">
              <th class="ui-state-default">Contibutions</th>
            </tr>
            </thead>
              <tbody>
              <tr>
              <%@student.contributions.each do |contribution|%>
                <td style="padding-top: 1px; padding-bottom: 1px;">
                  <%= link_to contribution.name, :controller => "contributions", :action => "show", :id => contribution.id%>
                </td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <br>
        <div class="profile-userbuttons">
          <table style="float: none; margin: 0 auto;">
            <tr>
          <% if student_signed_in? %>
          <% if current_student.id == @student.id %>
          <th><%= link_to 'Edit', edit_student_path(@student), :class=>"ui-button ui-corner-all ui-widget" %></th>
          <% end %>
          <%end%>
          <% if student_signed_in? || teacher_signed_in? %>
          <th><%= link_to 'Back', students_path, :class=>"ui-button ui-corner-all ui-widget" %></th>
          <%end%>
          <% if student_signed_in? %>
          <% if current_student.id == @student.id %>
          <th><%= link_to('Log out', destroy_student_session_path, :method => :delete, :class=>"ui-button ui-corner-all ui-widget") %></th>
          <% end %>
          <%end%>
        </tr>
      </table>
        </div>
      </div>
    </div>
  </div>
</div>
