<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'css/profile' %>
<div class="container">

  <div class="col-md-4 col-md-offset-4">
    <div class="profile-sidebar">
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <p> <%= @student.first_name %> <%= @student.last_name %> </p>
      </div>
      <div class="profile-usertitle-job">
        <p>STUDENT</p>
      </div>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Username:</strong>
        <%= @student.username %>
      </div>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Email:</strong>
        <%= @student.email %>
      </div>
      <% if @student.investigation_group_id != 0 && @student.state == "Admitted" then%>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Investigation group:</strong>
        <%= link_to @student.investigation_group.name, :controller=>"investigation_groups" , :action=>"show", :id=>@student.investigation_group.id %>
      </div>
      <div class="profile-usertitle-job">
        <strong style="color: black;">Estado:</strong>
        <%= @student.state %>
      </div>
      <%end%>
    <%if !@student.contributions.empty? then %>
      <strong style="color: black;">Contributions:</strong>
      <div class="profile-usertitle-job">
        <%@student.contributions.each do |contribution|%>
          <%= link_to contribution.name, :controller => "contributions", :action => "show", :id => contribution.id%>
          <%  if contribution != @student.contributions.last %>,
          <%end%>
        <%end%>
      </div>
    <%end%>
    <div class="profile-userbuttons">
      <% if student_signed_in? %>
        <% if current_student.id == @student.id %>
        <%= link_to 'Edit', edit_student_path(@student), :class=>"btn btn-info btn-sm" %>
        <% end %>
      <%end%>
      <% if student_signed_in? || teacher_signed_in? %>
        <%= link_to 'Back', students_path, :class=>"btn btn-info btn-sm" %>
      <%end%>
      <% if student_signed_in? %>
        <% if current_student.id == @student.id %>
        <%= link_to('Log out', destroy_student_session_path, :method => :delete, :class=>"btn btn-info btn-sm") %>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
</div>
</div>
