<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_teacher.event %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @event_teacher.teacher %>
</p>

<%= link_to 'Edit', edit_event_teacher_path(@event_teacher) %> |
<%= link_to 'Back', event_teachers_path %>
