<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @ubication.link %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @ubication.contribution %>
</p>

<%= link_to 'Edit', edit_ubication_path(@ubication) %> |
<%= link_to 'Back', ubications_path %>
