<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <tbody>
  <tr>
  <td>
      <strong>Event:</strong>
      </td>
      <td>
      <%= @event_student.event.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Student:</strong>
    </td>
    <td>
      <%= @event_student.student.first_name %>
  </td>
</tr>
</tbody>
</table>

<%= link_to 'Edit', edit_event_student_path(@event_student) %> |
<%= link_to 'Back', event_students_path %>
