<%= form_for(investigation_group) do |f| %>
  <% if investigation_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investigation_group.errors.count, "error") %> prohibited this investigation_group from being saved:</h2>

      <ul>
      <% investigation_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
      <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td> <div class="field">
                                <%= f.label :name %>
                                <%= f.text_field :name %>
                                </div>
                          </td>
                        </tr>
                            <td>  <div class="field">
                                    <%= f.label :description %>
                                    <%= f.text_area :description %>
                                  </div>
                            </td>
                            <tr>
                              <td> <div class="field">
                                      <%= f.label "Image: " %>
                                      <%= f.file_field :image %>
                                  </div>
                              </td>
                            </tr>
                                <td> <div class="actions">
                                        <%= f.submit %>
                                    </div>
                                </td>
                              </tbody>
                            </table>
                          </div>
<% end %>
