<br>
<br>
<p><strong>Contribuciones de los grupos de investigaci贸n</strong></p>
<%= column_chart Contribution.group(:investigation_group).count.transform_keys { |key| key.name } , width: "100%", height: "100%"%>
<p><strong>Eventos de los grupos de investigaci贸n</strong></p>
<%= pie_chart Event.group(:investigation_group).count.transform_keys { |key| key.name } , width: "100%", height: "100%"%>
<p><strong>Estudiantes de los grupos de investigaci贸n</strong></p>
<%= pie_chart Student.group(:investigation_group).count.transform_keys { |key| key.name } , width: "100%", height: "100%"%>
<!--
<p><strong>Profesores de los grupos de investigaci贸n</strong></p>
<%#= pie_chart Teacher.group(:investigation_group).count.transform_keys { |key| key.name } , width: "100%", height: "100%"%>
-->
<p><strong>Histograma de Profesores</strong></p>
<%= line_chart @investigation_group.teachers.group(:created_at).count%>
<p><strong>Histograma de Estudiantes</strong></p>
<%= line_chart @investigation_group.students.group(:created_at).count%>
<p><strong>Histograma de Eventos</strong></p>
<%= column_chart @investigation_group.event_ids , label: "name", xtitle: "Eventos", ytitle: "Personas" %>
