<%= stylesheet_link_tag 'css/request' %>
<div class="container">
  <div class="row">
    <section class="content">
      <h1>ContributionsGroup</h1>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
          <% @contributions.each do |contribution| %>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <h3 class="title">
                    <%= link_to contribution.name, contribution %></td>
                  </h3>
                </div>
              </div>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <h3 class="title">
                    <td><%= Date.parse(contribution.publication_date.to_s).to_formatted_s(:rfc822) %></td>
                  </h3>
                </div>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                  <%=contribution.state%>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" onclick="updateContributionState('<%=contribution.id%>','<%=updateContributionState_investigation_groups_path%>','Aproved')">
                        Aproved
                      </a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" onclick="updateContributionState('<%=contribution.id%>','<%=updateContributionState_investigation_groups_path%>','Rejected')">
                        Rejected
                      </a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" onclick="updateContributionState('<%=contribution.id%>','<%=updateContributionState_investigation_groups_path%>','Progress')">
                        Progress
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </section>
  </div>
</div>

<%=link_to 'Back', investigation_group_path %>
<% if teacher_signed_in? %>
| <%= link_to 'New Contribution', new_investigation_group_contribution_path(@investigation_group) %>
<% end %>

<script>
  function updateContributionState(ids, url, state){
    $.ajax({
      type: "POST",
      url: url,
      data: {"ids": ids,"contribution_state": state},
      success: function(){alert("OH SI, ESTADO DE LA CONTRIBUCION")}
    });
  }
</script>
