<%= stylesheet_link_tag 'css/member' %>
<div class="container", style="margin-top: 5%">
  <div class="row">
    <section class="content">
      <!--h1>ContributionsGroup</h1-->
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
          <th colspan="8"><h2>Contributions Group</h2></th>
          <% @events.each do |event| %>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h3 class="title">
                      <%= link_to event.name, event %></td>
                    </h3>
                  </div>
                </div>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h3 class="title">
                      <td><%= DateTime.parse(event.start_time.to_s).to_formatted_s(:rfc822) %></td>
                    </h3>
                  </div>
                </div>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h3 class="title">
                      <td><%= DateTime.parse(event.end_time.to_s).to_formatted_s(:rfc822) %></td>
                    </h3>
                  </div>
                </div>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h3 class="title">
                      <%=link_to 'Edit', edit_investigation_group_event_path(event.id,:investigation_group_id=>@investigation_group.id), :class=>"btn btn1"%>
                    </h3>
                  </div>
                </div>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </section>
  </div>
</div>

<% if teacher_signed_in? %>
 <%= link_to 'New Event', new_investigation_group_event_path(@investigation_group), :class=>"btn btn1" %>
<% end %>
<%=link_to 'Back', investigation_group_path, :class=>"btn btn1" %>
