<p id="notice"><%= notice %></p>

<h1>Investigation Groups</h1>
<div>
  <td>
  <%= link_to_if @page > 1 , "<" , :action => "index", :page => @page-1 %>
   <%=@page%> de <%= @totalPages %>
   <%=link_to_if @page < @totalPages,">",:action => "index",:page => @page+1
   %>
</td>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Createdate</th>
      <th>Description</th>
<!--
      <th colspan="3"></th>
-->
    </tr>
  </thead>

  <tbody>
    <% @investigation_groups.each do |investigation_group| %>
      <tr>
        <td><%= link_to investigation_group.name, investigation_group %></td>
        <td><%= investigation_group.create_date %></td>
        <td><%= investigation_group.description %></td>
        <!--
        <td><%= link_to 'Show', investigation_group %></td>
        <td><%= link_to 'Edit', edit_investigation_group_path(investigation_group) %></td>
        <td><%= link_to 'Destroy', investigation_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Investigation Group', new_investigation_group_path %>
