<%= stylesheet_link_tag 'css/member' %>
<br>
<p id="notice"><%= notice %></p>
  <div class="container">

    <script>
     $( function() {
       $( "#tabs" ).tabs();
     } );
     </script>


   <div id="tabs">
     <ul>
       <li><a href="#tabs-1"><strong>Grupos de Investigación</strong></a></li>
       <li><a href="#tabs-2">Ranking por Contribuciones</a></li>
       <li><a href="#tabs-3">Ranking por Eventos</a></li>
       <li><a href="#tabs-4">Ranking por Estudiantes</a></li>
     </ul>
     <div id="tabs-1">
       <!-- Tab panes -->
       <div class="tab-content">
         <div class="tab-pane active" id="home" role="tabpanel">
           <table id="data-table" class="table table-striped table-bordered dataTables_wrapper order-column form-inline dt-bootstrap nowrap" width="100%" cellspacing="0" >
           <thead>
             <tr>
               <th>Name</th>
               <th>Createdate</th>
               <th>Description</th>
               <th>Tags</th>
             </tr>
           </thead>

           <tbody>
             <% @investigation_groups.each do |investigation_group| %>
               <tr>
                 <td><%= link_to investigation_group.name, investigation_group %></td>
                 <td><%= Date.parse(investigation_group.create_date.to_s).to_formatted_s(:rfc822) %></td>
                 <td><%= investigation_group.description %></td>
                 <% myTags=''
                 investigation_group.tags.each do |tag|
                   myTags<<tag.name
                   if tag != investigation_group.tags.last
                     myTags<<', '
                   end
                 end %>
                 <td> <%=myTags.to_s%></td>
               </tr>
             <% end %>
           </tbody>
         </table>

         </div>

         <% if teacher_signed_in? %>
         <%= link_to 'New Investigation Group', new_investigation_group_path,  :class=>"btn btn-success"%>
         <% end %>
     </div>
     </div>
     <div id="tabs-2">
       <p><strong>Contribuciones de los grupos de investigación</strong></p>
       <%= column_chart Contribution.group(:investigation_group).count.transform_keys { |key| key.name }.sort.to_h,label: "name", xtitle: "Grupos de Investigación", ytitle: "# Contribuciones"%>
     </div>
     <div id="tabs-3">
       <p><strong>Eventos de los grupos de investigación</strong></p>
       <%= pie_chart Event.group(:investigation_group).count.transform_keys { |key| key.name }.sort.to_h%>
     </div>
     <div id="tabs-4">
       <p><strong>Estudiantes de los grupos de investigación</strong></p>
       <%= pie_chart Student.group(:investigation_group).count.transform_keys { |key| key.name }.sort.to_h%>
     </div>
   </div>
</div>
