<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'css/group_table' %>

<div class="container", style="margin-top: 5%">
  <div class="col-lg-3", style="margin-top: 2%">
    <%= image_tag(@investigation_group.image_url.to_s,:class=>"img-circle img-responsive",:atl=>"Investigation Group Image") %>
  </div>

  <div class=" col-md-9 col-lg-9 ">
    <table class="table">
      <tbody>
        <th colspan="2">
          <%= @investigation_group.name %>
        </th>
        <tr>
          <td>  <strong>Createdate:</strong> </td>
          <td> <%= @investigation_group.create_date %> </td>
        </tr>
        <tr>
          <td rowspan="2"><strong>Owner:</strong></td>
          <td><%= @Owner.first_name%> <%=@Owner.last_name%> </td>
          <tr>
            <td><%=link_to @Owner.username, :controller => "teachers", :action => "show", :id => @Owner.id%> </td>
          </tr>
        </tr>
        <tr>
          <td> <strong>Description:</strong> </td>
          <td> <%= @investigation_group.description %> </td>
        </tr>
        <tr>
          <td> <strong>Tags:</strong> </td>
          <% myTags=''
          @investigation_group.tags.each do |tag|
            myTags<<tag.name
            if tag != @investigation_group.tags.last
              myTags<<', '
            end
          end %>
          <td> <%=myTags.to_s%></td>
        </tr>
        <tr>
          <td> <strong>Events:</strong> </td>
          <td>
            <% @investigation_group.events.each do |event| %>
            <%=link_to event.name, :controller => "events", :action =>"show", :id=>event.id %>
            <%  if event != @investigation_group.events.last%>,
            <%end
          end %>
        </td>
      </tr>
      <tr>
        <td> <strong>Contributions:</strong> </td>
        <td>
          <% @allContributions =InvestigationGroup.contributions_group(:group_id => @investigation_group.id)
          @allContributions.each do |contribution|%>
          <%= link_to contribution.name, :controller => "contributions", :action => "show", :id => contribution.id%>
          <%  if contribution != @allContributions.last %>,
          <%end
        end %>
      </td>
    </tr>
    <tr>
      <td> <strong>Teachers:</strong> </td>
      <td>
        <%@Teachers.each do |teacher|%>
          <%=link_to teacher.username, :controller => "teachers", :action => "show", :id => teacher.id%>
          <%if teacher != @Teachers.last %>,
          <%end%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td> <strong>Students:</strong> </td>
      <td>
        <%@Students.each do |student|%>
          <%=link_to student.username, :controller => "students", :action => "show", :id => student.id%>
          <%if student != @Students.last %>,
          <%end%>
        <%end%>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<%if student_signed_in?%>
  <%if current_student.investigation_group_id != @investigation_group.id%>
    <%=link_to 'Join', join_investigation_groups_path, :class=>"btn btn1"%>
  <%end%>
<%end%>
<%if teacher_signed_in?%>
  <%if @relation == [] %>
    <%=link_to 'Join', join_investigation_groups_path, :class=>"btn btn1"%>
  <%elsif @relation.rol == 'Teacher' && @relation.state == 'Admitted' %>
    <%=link_to 'New Contribution', new_investigation_group_contribution_path(@investigation_group), :class=>"btn btn1" %>
  <%elsif @relation.rol == 'Admin' || @relation.rol == 'Owner' %>
    <%=link_to 'New Contribution', new_investigation_group_contribution_path(@investigation_group), :class=>"btn btn1" %>
    <%=link_to 'Edit Members', member_investigation_groups_path(@investigation_group), :class=>"btn btn1"%>
    <%=link_to 'Contributions', contributionsGroup_investigation_groups_path, :class=>"btn btn1" %>
    <%=link_to 'Edit', edit_investigation_group_path, :class=>"btn btn1"%>
  <%end%>
<%end%>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-4">
    <h3>Contributions By week</h3>
    <%= column_chart @allContributions.group_by_week(:publication_date, format: "%B %d, %Y").count, discrete: true %>
      <h3>Contributions By day</h3>
      <%= column_chart   @allContributions.group_by_day(:publication_date, format: "%B %d, %Y").count %>
  </div>
  <div class="col-xs-4">
    <h3>Contributions By week</h3>
    <%= pie_chart  @allContributions.group_by_week(:publication_date, format: "%B %d, %Y").count %>
      <h3>Contributions By day</h3>
    <%= pie_chart  @allContributions.group_by_day(:publication_date, format: "%B %d, %Y").count %>
  </div>
</div>
<%=link_to 'Back', investigation_groups_path, :class=>"btn btn1" %>
