<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'css/group_table' %>

<div class="container">
  <div class="col-lg-3">
    <%= image_tag(@investigation_group.image_url.to_s,:class=>"img-circle img-responsive",:atl=>"Investigation Group Image") %>
  </div>
  <div class=" col-md-9 col-lg-9 ">
    <table class="table">
      <tbody>
        <th colspan="2">
          <%= @investigation_group.name %>
        </th>
        <tr>
          <td>  <strong>Createdate:</strong> </td>
          <td> <%= @investigation_group.create_date %> </td>
        </tr>
        <tr>
          <td rowspan="2"><strong>Owner:</strong></td>
          <td><%= @Owner.first_name%> <%=@Owner.last_name%> </td>
          <tr>
            <td><%= @Owner.username%> </td>
          </tr>
        </tr>
        <tr>
          <td> <strong>Description:</strong> </td>
          <td> <%= @investigation_group.description %> </td>
        </tr>
        <tr>
          <td> <strong>Tags:</strong> </td>
          <% myTags=''
          @investigation_group.tags.each do |tag|
            myTags<<tag.name
            if tag != @investigation_group.tags.last
              myTags<<', '
            end
          end %>
          <td> <%=myTags.to_s%></td>
        </tr>
        <tr>
          <td> <strong>Events:</strong> </td>
          <td>
            <% @investigation_group.events.each do |event| %>
            <%=link_to event.name, :controller => "events", :action =>"show", :id=>event.id %>
            <%  if event != @investigation_group.events.last%>,
            <%end
          end %>
        </td>
      </tr>
      <tr>
        <td> <strong>Contributions:</strong> </td>
        <td>
          <% @allContributions =InvestigationGroup.contributions_group(:group_id => @investigation_group.id)
          @allContributions.each do |contribution|%>
          <%= link_to contribution.name, :controller => "contributions", :action => "show", :id => contribution.id%>
          <%  if contribution != @allContributions.last %>,
          <%end
        end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<%if student_signed_in?%>
  <%if current_student.investigation_group_id != @investigation_group.id%>
    <%=link_to 'Join', join_investigation_groups_path, :class=>"btn btn1"%>
  <%end%>
<%end%>
<%if teacher_signed_in?%>
  <%if @relation == nil %>
    <%=link_to 'Join', join_investigation_groups_path, :class=>"btn btn1"%>
  <%elsif @relation.rol == 'Admin' || @relation.rol == 'Owner' %>
    <%=link_to 'Edit Members', member_investigation_groups_path(@investigation_group), :class=>"btn btn1"%>
    <%=link_to 'Contributions', contributionsGroup_investigation_groups_path, :class=>"btn btn1" %>
  <%end%>
<%end%>
<%=link_to 'Back', investigation_groups_path, :class=>"btn btn1" %>

<% if teacher_signed_in? %>
<%= link_to 'New Contribution', new_investigation_group_contribution_path(@investigation_group), :class=>"btn btn1" %>
<% end %>
