<p id="notice"><%= notice %></p>
<div class="toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">  <%= @investigation_group.name %></h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-lg-3">
        <%= image_tag(@investigation_group.image_url.to_s,:class=>"img-circle img-responsive",:atl=>"Investigation Group Image") %>
    </div>
    <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>  <strong>Createdate:</strong> </td>
                        <td> <%= @investigation_group.create_date %> </td>
                      </tr>
                      <tr>
                        <td> <strong>Description:</strong> </td>
                        <td> <%= @investigation_group.description %> </td>
                      </tr>
                      <tr>
                        <td> <strong>Events:</strong> </td>
                       <% @investigation_group.events.each do |event| %>
                         <td> <%=link_to event.name, :controller => "events", :action =>"show" %> </td>
                         <%end%>
                      </tr>
                    </tbody>
                  </table>
      </div>

    </div>
<%= link_to 'Edit', edit_investigation_group_path(@investigation_group) %> |
<%= link_to 'Back', investigation_groups_path %>
