<%= form_for(event) do |f| %>
<% if event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-7 col-lg-7 ">
    <div class="toppad" >
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= f.label :name %>
          <%= f.text_field :name ,:style=>"color:black"%></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>
                    <%= f.label :start_time %>
                    <%= f.text_field :start_time, class:"form-control",  id: 'datetimepicker1'%>
                  </td>
                  <td>
                    <%= f.label :end_time %>
                    <%= f.text_field :end_time,class:"form-control", id: 'datetimepicker2'%>
                  </td>
                </tr>
                <script type="text/javascript">
                $(function () {
                  $('#datetimepicker1').datetimepicker();
                  $('#datetimepicker2').datetimepicker();
                });
                </script>
            <tr>
              <td>
                <%= f.label :localization %>
                <%= f.text_field :localization%>
              </td>
              <td>
                <%= f.label :investigation_group_id %>
                <%= f.select(:investigation_group_id,options_from_collection_for_select( @groups, "id", "name"))%>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :description %>
                <%= f.text_area :description %>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
          <div class="actions">
            <%= f.submit  :class =>  "btn btn-info",:style=>"display: block; margin: auto;"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
