<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-9 col-lg-9 ">
    <div class="toppad" >
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>  <%= @event.name %></h3></div>
        <div class="panel-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td> <strong>Start:</strong> </td>
            <td><%= @event.start_time.to_formatted_s(:long_ordinal) %></td>
          </tr>
          <tr>
            <td> <strong>End:</strong> </td>
            <td><%= @event.end_time.to_formatted_s(:long_ordinal) %></td>
          </tr>
          <tr>
            <td><strong>Description:</strong></td>
            <td><%= @event.description %></td>
          </tr>
          <tr>
              <td><strong>localization:</strong></td>
              <td><%= @event.localization %></td>
            </tr>
            <tr>
            <td><strong>Investigation group:</strong></td>
            <td>  <%= link_to @event.investigation_group.name, :controller =>"investigation_groups", :action  => "show", :id => @event.investigation_group.id %></td>
          </tr>
          <td><strong>Students:</strong></td>
          <td><% @event.students.each do |estudiante|%>
            <%=link_to estudiante.username, :controller => "students", :action => "show", :id => estudiante.id%>
            <% if estudiante != @event.students.last %>, <%end%>
            <%end%>
          </td>
        </tr>
        <td><strong>Teachers:</strong></td>
        <td><% @event.teachers.each do |profesor|%>
          <%=link_to profesor.username, :controller => "teachers", :action => "show", :id => profesor.id%>
          <% if profesor != @event.teachers.last %>, <%end%>
          <%end%>
        </td>
      </tr>
      <tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  <%= link_to 'Back', events_path, :class=>"btn btn-success"%>
  <%if (student_signed_in? and !@event.students.ids.include? current_student.id)%>
      <%=link_to 'Join', join_events_path, :class=>"btn btn-info"%>
  <%end%>
  <%if teacher_signed_in? %>
    <% if !@event.teachers.ids.include? current_teacher.id %>
      <%=link_to 'Join', join_events_path, :class=>"btn btn-info"%>
    <%end%>
    <%if @Owner.id == current_teacher.id%>
    <%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-success" %>
    <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
    <%end%>
  <%end%>
</div>
</div>
