<p id="notice"><%= notice %></p>
<div class="toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @contribution.name %></h3>
    </div>
  </div>
</div>

<div class="container">
    <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><strong>Publication date:</strong></td>
                        <td><%= @contribution.publication_date %></td>
                      </tr>
                      <tr>
                        <td><strong>Description:</strong></td>
                        <td><%= @contribution.description %></td>
                      </tr>
                      <tr>
                        <td><strong>State:</strong></td>
                        <td><%= @contribution.state %></td>
                      </tr>
                      <tr>
                        <td> <strong>Tags:</strong> </td>
                      <% myTags=''
                        @contribution.tags.each do |tag|
                          myTags<<tag.name
                          if tag != @contribution.tags.last
                            myTags<<', '
                          end
                      end %>
                    <td> <%=myTags.to_s%></td>
                  </tr>
                      <tr>
                        <td><strong>Investigation group:</strong></td>
                        <td><%= link_to @contribution.investigation_group.name, :controller => "investigation_groups", :action => "show", :id => @contribution.investigation_group.id %></td>
                      </tr>
                      <% myStudents = Contribution.students(:contribution_id=>@contribution.id)
                      if !myStudents.blank? then%>
                        <tr>
                          <td><strong>Students:</strong></td>
                            <td>
                          <%  myStudents.each do |student| %>
                                <%=link_to student.username, student%>
                                <%if student != myStudents.last then %> ,
                                <%end%>
                              <%end%>
                              </td>
                        </tr>
                        <%end%>
                        <% myTeachers=Contribution.teachers(:contribution_id=>@contribution.id)
                        if !myTeachers.blank? then %>
                        <tr>
                            <td><strong>Teachers:</strong></td>
                            <td>
                          <%  myTeachers.each do |teacher| %>
                            <%=link_to teacher.username, teacher %>
                            <%if teacher != myTeachers.last then %> ,
                            <%end%>
                            <%end%>
                            </td>
                          </tr>
                                                <% end %>
                          <tr>
                        <td><strong>Files:</strong></td>
                        <td><%= link_to @contribution.file ,@contribution.file_url.to_s %></td>
                      </tr>
                      <tr>
                        <td><strong>Ubications:</strong></td>
                        <td>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <% @contribution.ubications.each do |ubication| %>
                              <tr><td><%=ubication.link%></td></tr>
                              <%end%>
                            </tr>
                          </tbody>
                        </table>
                      </tr>
                    </tbody>
                  </table>
                  </div>

                  </div>
<% if teacher_signed_in? %>
<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<% end %>
<%= link_to 'Back', contributions_path %>
