<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <%= @contribution.name %>
</p>
<br>
<p>
  <strong>Publication date: </strong>
  <%= @contribution.publication_date %>
</p>
<br>
<p>
  <strong>Description: </strong>
  <%= @contribution.description %>
</p>
<br>
<p>
  <strong>State: </strong>
  <%= @contribution.state %>
</p>
<br>
<p>
  <strong>Investigation group (<%= @contribution.investigation_group.id %>): </strong>
  <%= @contribution.investigation_group.name %>
</p>
<br>
<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
