<%= stylesheet_link_tag 'css/request' %>

<div class="container">
  <div class="row">
    <section class="content">
      <h1>Users</h1>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
          <% @users.each do |student| %>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                      <%= link_to student.username, student %>
                    </h4>
                    <p class="summary">
                      <%= student.first_name + " " + student.last_name %>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Student</button>
                  </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <%=student.state%>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" onclick="updateMemberState('<%=student.id%>','<%=updateMemberState_investigation_groups_path%>','Rejected','Student')">
                          Rejected
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" onclick="updateMemberState('<%=student.id%>','<%=updateMemberState_investigation_groups_path%>','Process','Student')">
                          Process
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" onclick="updateMemberState('<%=student.id%>','<%=updateMemberState_investigation_groups_path%>','Admitted','Student')">
                        Admitted
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </section>
  </div>
</div>
<script>
  function updateMemberState(ids, url, state, type){
    $.ajax({
      type: "POST",
      url: url,
      data: {"ids": ids,"member_investigation_group_param": state,"type": type},
      success: function(){alert("OH SI, ESTADO")}
    });
  }
</script>
<%= link_to 'Add', new_investigation_group_contribution_user_contribution_path %>
<%= link_to 'Back', investigation_group_path %>
