<%= stylesheet_link_tag 'css/member' %>

<div class="container">
  <div class="row">
    <section class="content">
      <h1>Users</h1>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
          <%@Students.each do |student| %>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                      <%= link_to student.username, student %>
                    </h4>
                    <p class="summary">
                      <%= student.first_name + " " + student.last_name %>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Student</button>
                  </div>
              </td>
            </tr>
          <%end%>
          <%@Teachers.each do |teacher| %>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                      <%= link_to teacher.username, teacher %>
                    </h4>
                    <p class="summary">
                      <%= teacher.first_name + " " + teacher.last_name %>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Teacher</button>
                  </div>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </section>
  </div>
</div>
<script>
  function updateMemberState(ids, url, state, type){
    $.ajax({
      type: "POST",
      url: url,
      data: {"ids": ids,"member_investigation_group_param": state,"type": type},
      success: function(){alert("OH SI, ESTADO")}
    });
  }
</script>
<%= link_to 'Add', investigation_group_contribution_newUser_path(:contribution_id=>@contribution.id), :class=>"btn btn2" %>
<%= link_to 'Back', contributionsGroup_investigation_groups_path(:id=>params[:investigation_group_id]), :class=>"btn btn2" %>
