<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag_investigation_group.tag %>
</p>

<p>
  <strong>Investigationgroup:</strong>
  <%= @tag_investigation_group.investigationGroup %>
</p>

<%= link_to 'Edit', edit_tag_investigation_group_path(@tag_investigation_group) %> |
<%= link_to 'Back', tag_investigation_groups_path %>
