<%= form_for(history_group) do |f| %>
  <% if history_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history_group.errors.count, "error") %> prohibited this history_group from being saved:</h2>

      <ul>
      <% history_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bonding_date %>
    <%= f.date_select :bonding_date %>
  </div>

  <div class="field">
    <%= f.label :exit_date %>
    <%= f.date_select :exit_date %>
  </div>

  <div class="field">
    <%= f.label :investigation_group_id %>
    <%= f.text_field :investigation_group_id %>
  </div>

  <div class="field">
    <%= f.label :historable_type %>
    <%= f.text_field :historable_type %>
  </div>

  <div class="field">
    <%= f.label :historable_id %>
    <%= f.text_field :historable_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
