<p id="notice"><%= notice %></p>

<h1>History Groups</h1>

<table>
  <thead>
    <tr>
      <th>Bonding date</th>
      <th>Exit date</th>
      <th>Investigation group</th>
      <th>Historable type</th>
      <th>Historable id</th>
    </tr>
  </thead>

  <tbody>
    <% @history_groups.each do |history_group| %>
      <tr>
        <td><%= history_group.bonding_date %></td>
        <td><%= history_group.exit_date %></td>
        <td><%= history_group.investigation_group %></td>
        <td><%= history_group.historable_type %></td>
        <td><%= history_group.historable_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
