<%= stylesheet_link_tag 'css/form' %>

<%= form_for(user_contribution) do |f| %>
  <% if user_contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_contribution.errors.count, "error") %> prohibited this user_contribution from being saved:</h2>
      <ul>
        <% user_contribution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section id="form">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-wrap">
            <div class="form-group">
              <%= f.label :userable_type %>
              <%= f.text_field :userable_type %>
            </div>
            <div class="form-group">
              <%= f.label :userable_id %>
              <%= f.text_field :userable_id %>
            </div>
            <div hidden>
              <%= f.hidden_field :contribution_id %>
            </div>
            <div class="form-group">
              <%= f.submit 'Create User-Contribution', :class => 'btn btn-custom btn-lg btn-block' %>
            </div>
          </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section>
<% end %>
