<%= form_for(user_contribution) do |f| %>
  <% if user_contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_contribution.errors.count, "error") %> prohibited this user_contribution from being saved:</h2>

      <ul>
      <% user_contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userable_type %>
    <%= f.text_field :userable_type %>
  </div>

  <div class="field">
    <%= f.label :userable_id %>
    <%= f.text_field :userable_id %>
  </div>

  <div class="field">
    <%= f.label :contribution_id %>
    <%= f.text_field :contribution_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
