<p id="notice"><%= notice %></p>

<h1>User Contributions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Userable type</th>
      <th>Userable id</th>
      <th>Contribution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_contributions.each do |user_contribution| %>
      <tr>
        <td><%= user_contribution.userable_type %></td>
        <td><%= user_contribution.userable_id %></td>
        <td><%= link_to user_contribution.contribution.name, :method => "contribution", :action => "show", :id => user_contribution.contribution.id %></td>
        <td><%= link_to 'Show', user_contribution %></td>
        <td><%= link_to 'Edit', edit_user_contribution_path(user_contribution) %></td>
        <td><%= link_to 'Destroy', user_contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Contribution', new_user_contribution_path %>
