<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @user_contribution.student %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @user_contribution.teacher %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @user_contribution.contribution %>
</p>

<%= link_to 'Edit', edit_user_contribution_path(@user_contribution) %> |
<%= link_to 'Back', user_contributions_path %>
