<p id="notice"><%= notice %></p>

<p>
  <strong>Userable type:</strong>
  <%= @user_contribution.userable_type %>
</p>

<p>
  <strong>Userable id:</strong>
  <%= @user_contribution.userable_id %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @user_contribution.contribution %>
</p>

<%= link_to 'Edit', edit_user_contribution_path(@user_contribution) %> |
<%= link_to 'Back', user_contributions_path %>
