<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de información de tesis :: Universidad Nacional de Colombia</title>
    <link rel="shortcut icon" href="assets/unal/favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%=stylesheet_link_tag 'css/bootstrap.min', media="all" %>
    <%=stylesheet_link_tag 'css/bootstrap-theme.min', media="all"%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/dataTables.bootstrap.min.css"/>

    <%=stylesheet_link_tag 'css/reset', media="all"%>
    <%=stylesheet_link_tag 'css/unal', media="all"%>
    <%#=stylesheet_link_tag 'css/base', media="all"%>
    <%#=stylesheet_link_tag 'css/tablet', media="all"%>
    <%#=stylesheet_link_tag 'css/phone', media="all"%>
    <%#=stylesheet_link_tag 'css/small', media="all"%>
    <%#=stylesheet_link_tag 'css/printer', media="print"%>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#=javascript_include_tag '/javascripts/application.js' %>
    <%#<%= javascript_include_tag 'js/jquery' %>
    <%#<%= javascript_include_tag 'js/unal' %>

  </head>

  <body>
    <%= render 'layouts/header_unal' %>
    <%= render 'layouts/services_unal' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="contributions-content">
    <%= yield %>
    </div>
    <%= render 'layouts/footer_unal' %>
<script type="text/javascript">
  $('#data-table').DataTable();
</script>
  </body>
</html>
