<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de información de tesis :: Universidad Nacional de Colombia</title>
    <link rel="shortcut icon" href="/assets/unal/favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%=stylesheet_link_tag 'css/reset', media="all"%>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">


<!--
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
-->

    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/south-street/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">

    <%=stylesheet_link_tag 'css/unal', media="all"%>

    <%#=stylesheet_link_tag 'css/base', media="all"%>
    <%#=stylesheet_link_tag 'css/tablet', media="all"%>
    <%#=stylesheet_link_tag 'css/phone', media="all"%>
    <%#=stylesheet_link_tag 'css/small', media="all"%>
    <%#=stylesheet_link_tag 'css/printer', media="print"%>




    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.js"></script>
<script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>



    <%#%= stylesheet_link_tag 'application', media: 'all' %>
    <%#<%= javascript_include_tag 'js/jquery' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="http//www.google.com/jsapi","chartkick" ></script>
      <script src="http//yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"></script>
        <script src="http//yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>



      <!--%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
      <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>-->

      <%= csrf_meta_tags %>
      <%=stylesheet_link_tag 'css/reset', media="all"%>

      <%= javascript_include_tag 'js/unal' %>
      <link rel="manifest" href="/manifest.json">
<%= javascript_include_tag 'application' %>
      <%#= javascript_include_tag :defaults %>



  </head>

  <body>
    <%= render 'layouts/header_unal' %>
    <%= render 'layouts/services_unal' %>
    </div>
    <div class="contributions-content">
    <%= yield %>
    </div>
    <%= render 'layouts/footer_unal' %>
<script type="text/javascript">
  //$('#data-table').DataTable( );
  $(document).ready(function() {
    var table= $('#data-table').DataTable({
      lengthChange: false,
       scrollCollapse: true,
       fixedHeader: true,
       autoFill:true,
      responsive: true,
      jQueryUI: true,
      pagingType: "full"
    });
    $('#container').css( 'display', 'block' );
table.columns.adjust().draw();

    });
</script>

  </body>
</html>
