<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de información de tesis :: Universidad Nacional de Colombia</title>
    <link rel="shortcut icon" href="/assets/unal/favicon.ico" type="image/x-icon">



    <%= csrf_meta_tags %>
    <%=stylesheet_link_tag 'css/reset'%>

    <%=stylesheet_link_tag "css/bootstrap.min"%>
  <%=stylesheet_link_tag "css/bootstrap-theme.min"%>


<!--
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>


    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/south-street/jquery-ui.css">
-->
<%=stylesheet_link_tag "css/jquery-ui"%>
<%=stylesheet_link_tag "css/jquery-ui.structure"%>
<%=stylesheet_link_tag "css/jquery-ui.theme"%>
      <%=stylesheet_link_tag "css/fullcalendar.min"%>
      <%=stylesheet_link_tag "css/dataTables.jqueryui.min"%>

    <%=stylesheet_link_tag "css/bootstrap-datetimepicker"%>

    <%=stylesheet_link_tag 'css/unal'%>

    <%#=stylesheet_link_tag 'css/base', media="all"%>
    <%#=stylesheet_link_tag 'css/tablet', media="all"%>
    <%#=stylesheet_link_tag 'css/phone', media="all"%>
    <%#=stylesheet_link_tag 'css/small', media="all"%>
    <%#=stylesheet_link_tag 'css/printer', media="print"%>




    <%= javascript_include_tag "js/jquery.min.js"%>
    <%= javascript_include_tag "js/jquery-ui.min.js"%>
    <%= javascript_include_tag "js/jquery.dataTables.min"%>
    <%= javascript_include_tag "js/dataTables.jqueryui.min"%>
    <%= javascript_include_tag "js/bootstrap.min"%>
    <%= javascript_include_tag "js/moment"%>
    <%= javascript_include_tag "js/fullcalendar"%>
<%= javascript_include_tag "js/bootstrap-select.min"%>
<%= javascript_include_tag "js/bootstrap-datetimepicker.min"%>
<%= javascript_include_tag "js/firebase"%>



    <%#<%= javascript_include_tag 'js/jquery' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'js/loader'%>
     <%= javascript_include_tag 'js/unal' %>
      <%= javascript_include_tag 'firebase-messaging-sw' %>
      <link rel="manifest" href="/manifest.json">
<%= javascript_include_tag 'application' %>
      <%#= javascript_include_tag :defaults %>



  </head>

  <body>
    <%= render 'layouts/header_unal' %>
    <%= render 'layouts/services_unal' %>
    </div>
    <div class="contributions-content">
    <%= yield %>
    </div>
    <%= render 'layouts/footer_unal' %>
<script type="text/javascript">
  //$('#data-table').DataTable( );
  $(document).ready(function() {
    var table= $('#data-table').DataTable({
      lengthChange: false,
    //  ScrollY: "100%",
    //  ScrollXInner: "150%",
       scrollCollapse: true,
       fixedHeader: true,

       autoFill:true,
      responsive: true,
    //  scrollY:true,
      jQueryUI: true,
      pagingType: "full"
    });
    $('#container').css( 'display', 'block' );
table.columns.adjust().draw();
$('#data-table').dataTable().fnAdjustColumnSizing();

    });
</script>

  </body>
</html>
